<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    </head>

    <body>
        <main>
            <h1>Upload your nice files...</h1>
            <br/>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input name="file" id="files" type="file" accept="{{ accept }}" onchange="javascript:updateList()" multiple="true" required="true"/><br/>
                    <div id="fileList"></div><br/>
                    <button class="btn btn-outline-primary knopf" id="settings_btn" type="button" data-toggle="collapse" data-target="#settings">Settings</button><br/>
                    <div class="collapse" id="settings">
                        <br/>
                        <label for="notes">Number of notes <span class="gray-out">({{ notes_min }} - {{ notes_max }})</span></label><br/>
                        <input id="notes" name="notes" type="number" min="{{ notes_min }}" max="{{ notes_max }}" value="{{ notes_default }}"/><br/>
                        <br/>
                        <label for="epochs">Number of epochs <span class="gray-out">({{ epochs_min }} - {{ epochs_max }})</span></label><br/>
                        <input id="epochs" name="epochs" type="number" min="{{ epochs_min }}" max="{{ epochs_max }}" value="{{ epochs_default }}"/><br/>
                        <br/>
                        <label for="sequences">Sequence length <span class="gray-out">({{ sequences_min }} - {{ sequences_max }})</span></label><br/>
                        <input id="sequences" name="sequences" type="number" min="{{ sequences_min }}" max="{{ sequences_max }}" value="{{ sequences_default }}"/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-outline-success knopf">Submit</button>
                </div>
            </form>
        </main>
        <footer>Summaery 2018</footer>

        <!-- Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/fileList.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
