<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    </head>

    <body>
        <main>
            <h1>Upload your nice files...</h1>
            <br/>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input name="file" id="files" type="file" accept="{{ accept }}" onchange="javascript:updateList()" multiple="true" required="true"/><br/>
                    <div id="fileList"></div><br/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </main>
        <footer>
           Summaery 2018 
        </footer>
    </body>

    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/fileList.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-3.3.7.min.js') }}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</html>
