<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    </head>
    <body>
        <main>
            
            <!-- TODO: progress bar here -->

            <!-- TODO: if finished, play button and stop button here -->
            <!-- <a href="#" onClick="MIDIjs.play('midi/hinematov.mid');">Play hinematov.mid</a> -->
            <!-- <a href="#" onClick="MIDIjs.stop();">Stop MIDI Playback</a> -->

        </main>
        <footer>
           Summaery 2018 
        </footer>

        <!-- Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/midi.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
