<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    </head>
    <body>
        <main>
            
        </main>
        <footer>
           Summaery 2018 
        </footer>
    </body>

    <!-- Scripts -->
    <script type='text/javascript' src="{{ url_for('static', filename='js/midi.js') }}"></script>
</html>
