<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/training.css') }}">
    </head>
    <body>
        <main>
            <h1>Training</h1>
            <p class="train_info">Status: <span id="training-status">...</span></p>
            <p class="train_info">Started: <span id="training-start">...</span></p>
            <p class="train_info">End: <span id="training-end">...</span></p>
            <br/>

            <!-- progress bar -->
            <div class="progress">
                <div id="training-progress" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
            <br/>

            <div id="songlist">
                <p class="songlist_label">Generated Songs:</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        Here will be a generated song soon...<br/>
                        <div>
                            <p>Here will be a Play and a Stop-Button for each song...</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Here will be a generated song soon...<br/>
                        <div>
                            <p>Here will be a Play and a Stop-Button for each song...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer>Summaery 2018</footer>

        <!-- Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/ajax/socket.io.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/midijs/MIDI.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/midijs/player.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/training/progressUpdate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/training/progress_socket.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/training/fileUpdate.js') }}"></script>
    </body>
</html>
