.progress {
    width: 100%;
}

#songlist {
    display: none;
}

#songlist {
    margin-top: 1em;
}

.songlist_label {
    font-weight: bold;
}

.songlistText {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.train_info {
    display: none;
    margin-top: 5px;
    margin-bottom: 0px;
}

.last_file {
    background-color: #E0F8E0;
    font-weight: bold;
}

#loss-graph {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 1em;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}