# ignore all the uploaded files except of the info txt file.
uploads/*
!uploads/info.txt
!uploads/converted/

# ignore all converted midi files in json format
uploads/converted/*
!uploads/converted/info.txt

# ignore generated weight files
weights/*
!weights/info.txt

# ignore generated midi files
static/midi*
!static/midi/info.txt
